{
  "extends": [
    "airbnb",
    "airbnb/hooks"
  ],
  "rules": {
    "react/jsx-filename-extension": 0,
    "object-curly-newline": 0,
    "react/jsx-curly-brace-presence": 0,
    "max-len": ["error", { "code": 120 }],
    "operator-linebreak": 0
  },
  "env": {
    "browser": true
  }
}
