.layout {
  background: url('../../devwork.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
}

.header {
}

.bottomNavigation {
}

.bottomNavigationAction {
}

.switchContext {
}
