.background3 {
  background: url('../../images/CatalinaDay3.png') no-repeat center center fixed;
}
.background4 {
  background: url('../../images/CatalinaDay4.png') no-repeat center center fixed;
}
.background5 {
  background: url('../../images/CatalinaDay5.png') no-repeat center center fixed;
}
.background6 {
  background: url('../../images/CatalinaDay6.png') no-repeat center center fixed;
}
.background7 {
  background: url('../../images/CatalinaDay7.png') no-repeat center center fixed;
}
.background8 {
  background: url('../../images/CatalinaDay8.png') no-repeat center center fixed;
}
.background9 {
  background: url('../../images/CatalinaDay9.png') no-repeat center center fixed;
}
.background10 {
  background: url('../../images/CatalinaDay10.png') no-repeat center center fixed;
}

.layout {
  min-height: 100vh;
  background-size: cover;
}

.header {
}

.bottomNavigation {
  background: transparent !important;
}

.bottomNavigationAction {
}

.switchContext {
}
