.layout {
  background: url('../../devwork.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
}

.header {
}

.bottomNavigation {
  padding: 0 10px 0 10px;
  align-items: center;
  justify-content: space-between !important;
}

.bottomNavigationAction {
}

.switchContext {
  float: right;
}
