.logoReact {
  height: 100px;
  pointer-events: none;
}

.logo {
  height: 80px;
  pointer-events: none;
}

.link {
  color: white;
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .logoReact {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1080px;
  margin: auto;
  height: 100vh;
  justify-content: center;
}

.homeMobile {
  padding: 20% 0 0 0;
}

.title {
  margin: 1% 0;
}

.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body {
  text-align: center;
  font-size: 1.5em !important;
}

.avatar {
  height: 200px !important;
  width: 200px !important;
  margin-bottom: 20px;
}
