.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  min-height: 100vh;
  justify-content: center;
}

.avatarsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
}

.subTitle {
  font-size: 2em;
  text-shadow: 1px 1px black;
}

.link {
}

.avatar {
  width: 100px !important;
  height: 100px !important;
  background: rgb(229, 229, 229) !important;
  margin: 20px;

  &:hover {
    background: white !important;
  }
}

.icon {
  font-size: 2em !important;
}
