.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  height: 100vh;
  justify-content: center;
}

.avatarsContainer {
  display: flex;
  flex-direction: row;
}

.title {
  color: white;
}

.subTitle {
  color: white;
  font-size: 40px;
}

.link {

}

.avatar {
  width: 100px !important;
  height: 100px !important;
  background: rgb(229, 229, 229) !important;
  margin: 20px;

  &:hover {
    background: white !important;
  }
}

.icon {
  font-size: 2em !important;
}
