.link {
  color: white;
  text-decoration: none;
}

.works {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1080px;
  margin: auto;
  min-height: 100vh;
  justify-content: center;
}

.worksMobile {
  padding: 15% 0 0 0;
}

.worksCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.subSkills {
  height: 130px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 150px;
}

.card {
  margin: 10px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
  }
}

.imgContainer {
}

.img {
  height: 200px;
  width: 250px;
  pointer-events: none;
}

.containContainer {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listItem {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.subTitle {
  color: white;
  font-size: 2em;
}

.dialogContent {
  width: 550px;
  height: 100%;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1080px;
  margin: auto;
  height: 100vh;
  justify-content: center;
}

.subSkills {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 150px;
  height: 30vh;
}

.contentModal {
  display: flex;
  flex-direction: column;
}

.contentModalList {
  width: fit-content;
}
